
* {
    margin: 0;
    background-color: rgb(36, 36, 36);
    font-family: Montserrat, sans-serif;
    color: white;
}

.nav {
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 40px;
    font-family: Montserrat, sans-serif;
    position:fixed;
    top: 0;
    width: 100%;
}

.nav ul {
    list-style: none;
    background-color:rgb(22, 22, 22);
}

.nav li {
    display: inline;
    margin: 100px;
    font-size: 20px;
    color: white;
    background-color: rgb(22, 22, 22);
}

.intro {
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    padding-top: 80px; 
    padding-bottom: 50px;
    margin-top: 100px
}

.resize {
    width: 350px;
    height : auto;
}

.resize {
    width: auto;
    height : 450px;
}

.uppercase {
    text-transform: uppercase;
}

.name {
    color: #ffffff;
    font-size: 40px 
}

.position {
    margin: 20px 0;
    font-size: 20px;
}

.divider {
    margin: 70px 0;
}

h2 {
    text-align: center;
    font-size: 60px;
}

.skills {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    
}

#skill-img {
    height: 300px;
    width: 450px;
    margin: 50px 50px;
    border-radius: 20px;
    filter: brightness(170%);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    color: white;
}

.zoom {
    transition: transform .2s;
    width: 300px;
    height: 450px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(.90);
}